*{
    margin: 0;
}
body{
    background-color: rgba(27, 27, 18, 0.973);
}

.text-container{
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgb(209, 170, 97);
    margin-bottom: 10px;
}
.text-container h2{
    margin-top: 5px;
}
.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    height: 300px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 10px;
}
.elements{
    display: flex;
    width: 120px;
    height: 120px;
    margin: 20px auto auto;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.elements button{
    width: 80px;
    height: 50px;
    background-color: inherit;
    border: 2px solid black;
    margin-bottom: 2px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 3px rgb(0, 0, 0);
}
.elements button:hover{
    background-color: rgba(39, 38, 38, 0.452);
    transition: 0.1s;
}
.elements button:active{
    transform: translateY(3px);
    transition: 0.1s;
}
.elements:nth-child(1){
    background-color: rgb(130,170,170);
}
.elements:nth-child(2){
    background-color: rgb(252, 121, 143);
}
.elements:nth-child(3){
    background-color: rgb(155, 21, 31);
}
.game-result {
    align-items: center;
    color: white;
    font-size: 18px;
}
.score-container{
    width: 500px; 
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    color: white;
}
.refresh-button{
    width:  150px; 
    height: 150px;
    color: white;
    font-size: 18px;
    background-color: rgb(2, 2, 51);
    height: 150px;
    margin: auto 0;
    border: 2px solid rgb(133, 43, 43);
    border-radius: 3px;
}
.refresh-button:hover{
    background-color: rgb(8,8,90);
    transition: 0.1s;
}
.refresh-button:active{
    transform: translateY(3px);
}